
@{
    ViewBag.Title = "Orden Finalizada";
}


<div class="form-horizontal" style="margin-top:12%; margin-bottom: 8%" align="center">
    <h2 style=" padding-top: 2%;">¡Su orden ha sido enviada!</h2>
    <div class="form-group">
        <div class="col-md-10">
            <img class="img img-responsive" src="@Url.Content("~/Img/check-green.gif")" width="200" height="200" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <p>
                <b>
                    ¡Gracias por preferirnos!
                </b>
            </p>
            <br />
            <p>
                <a href="@Url.Action("Catalogo", "Producto")">Regresar al catálogo</a>
            </p>
        </div>
    </div>
</div>