
@{
    ViewBag.Title = "NotificacionCorreo";
    Layout = "~/Views/Shared/_Login.cshtml";
}


<div class="form-horizontal" style="margin-top:12%;" align="center">
    <h2 style=" padding-top: 2%;">¡Correo enviado con éxito!</h2>
    <div class="form-group">
        <div class="col-md-10">
            <img class="img img-responsive" src="@Url.Content("~/Img/check-green.gif")" width="200" height="200" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <p>
                <b>
                    El enlace para la recuperación de su contraseña ha sido enviado a la bandeja de entrada de su correo electrónico
                </b>
            </p>
            <br />
            <p>
                <b>
                    Ya puede cerrar esta pestaña del navegador
                </b>
            </p>
        </div>
    </div>
</div>