
@{
    ViewBag.Title = "UnAuthorized";
}

@{
    Layout = Layout = "~/Views/Shared/_Login.cshtml"; ;
}
<div style="margin-top:12%" align="center">
    <h2>Lo sentimos, usted no está autorizado para acceder a esta página.</h2>
    <br>

    <a type="button" href="@Url.Action("Index","Home")" class="btn btn-primary">Volver al Inicio</a>

</div>
@*<script>
    function goBack() {
        window.history.back();
    }
</script>*@ 