@{

    ViewBag.Title = "Error";

}

<div style=" padding:20px; color:red">

    <h3>

        Error:

    </h3>

    <h4>

        Lo sentimos, la página que buscaba no pudo ser encontrada.

    </h4>
    <br>
    <br>

    <h6>@Html.ActionLink("Volver al Inicio", "Index", "Home")</h6> @*link name , action method name , controller name*@

    <br />

    <br />

</div>

