@{
    Layout = Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@{
    ViewBag.Title = "Inicio";
}
<div id="hero">
    <div id="carouselExampleCaptions" data-bs-interval="3000" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url(../../Img/imagen-3.jpg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown"><span>Moto Repuestos Ramírez & Barboza</span></h2>
                        <p class="animate__animated animate__fadeInUp">Somos un negocio de venta de repuestos para motocicletas de todo estilo y marca, además de contar con un servicio de taller especializado donde se realizan trabajos que van desde mantenimientos y mecánica general hasta mecánica avanzada con personal altamente capacitado en este ámbito.</p>
                        <a onclick="showPrueba()" class="btn-get-started animate__animated animate__fadeInUp scrollto"><i class="fa fa-arrow-circle-down fa-2x"></i></a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url(../../Img/Carrousel-1.jpg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown"><span>¿Buscando repuestos o accesorios?</span></h2>
                        <p class="animate__animated animate__fadeInUp">Explora nuestro amplio catálogo de productos y encontrarás una gran variedad de opciones.</p>
                        <a href="@Url.Action("Catalogo", "Producto")" class="btn-get-started animate__animated animate__fadeInUp scrollto">¡Acceder al catálogo!</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url(../../Img/Carrousel-2.jpg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown"><span>¿Necesitas asistencia con tu moto?</span></h2>
                        <p class="animate__animated animate__fadeInUp">Agenda una cita para nuestro servicio de Taller Especializado y nosotros nos haremos cargo.</p>
                        <a href="@Url.Action("Index", "Cita")" class="btn-get-started animate__animated animate__fadeInUp scrollto">¡Agenda tu cita aquí!</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>

<section id="services" class="services">
    <div class="container">
        <div class="row" style="text-align:center; font-size: medium">
            <div class="col-md-6">
                <div class="icon-box shadow">
                    <h4><a>Nuestra Visión</a></h4>
                    <p>Posicionarnos como el líder local en la venta de repuestos, para motocicletas en la zona de Herradura, Jacó.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon-box shadow">
                    <h4><a>Nuestra Misión</a></h4>
                    <p>Somos un local que busca mejorar la oferta de repuestos para motocicletas mientras se proponen precios asequibles de cara al público.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="img-fluid img-fluid" style="width: 100%;" src="~/Img/banner.jpg" />
        </div>
    </div>
</div>

<script>
    function showPrueba() {
        document.getElementById('services').scrollIntoView({ behavior: "smooth", block: "start", inline: "nearest" });
    }
</script>

<style>
    section {
        padding: 5% 0;
        overflow: hidden;
    }

    .section-bg, .services .icon-box {
        background-color: #f8f9fa;
        height: 100%
    }

    .section-title {
        padding-bottom: 40px;
    }

        .section-title h2 {
            font-size: 14px;
            font-weight: 500;
            padding: 0;
            line-height: 1px;
            margin: 0 0 5px 0;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #aaaaaa;
            font-family: "Poppins", sans-serif;
        }

            .section-title h2::after {
                content: "";
                width: 120px;
                height: 1px;
                display: inline-block;
                background: #e6636a;
                margin: 4px 10px;
            }

        .section-title p {
            margin: 0;
            margin: 0;
            font-size: 36px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
            color: #556270;
        }

    .services .icon-box {
        margin-bottom: 20px;
        padding: 30px;
        border-radius: 6px;
    }

        .services .icon-box i {
            float: left;
            margin-top: 10%;
            color: #d9232d;
            font-size: 60px;
        }

        .services .icon-box h4 {
            font-weight: 700;
            margin-bottom: 15px;
            font-size: 18px;
        }

        /*            .services .icon-box h4 a {
                color: #556270;
                transition: 0.3s;
            }*/

        .services .icon-box p {
            */ line-height: 24px;
            font-size: 14px;
        }

    a:hover{
        text-decoration: none;
    }
</style>
